@charset "UTF-8";
*{
    font-family: sans-serif, serif, "メイリオ";
}

html{
    font-size: 16px;
}

body{

    display: grid;

    grid-template-columns: 1fr;

    gap: 1em;

    grid-template-areas:
        "header"
        "main"
        "footer";

}

header{

    grid-area: header;

    background-color: lightpink;

    text-align: center;

    padding: 20px;

    border-radius: 8px;

}

h1{

    background-color: hotpink;

    color: white;

    padding: 10px;

    border-radius: 8px;

}

header a{

    display: inline;

    margin: 0 8px 0 0;

    padding: 8px 4px;

    border: 1px solid black;

    border-radius: 4px;

    background-color: aquamarine;

}

header a:hover{

    font-size: 1.2em;

}

main{

    grid-area: main;

    background-color: #fafafa;

    padding: 20px;

}

h3{

    background-color: lightblue;

    border: 2px solid black;

    border-radius: 8px;

    padding: 10px;

    text-align: center;

}

li{

    border: 1px solid black;

    border-radius: 8px;

    padding: 15px;

    margin: 20px;

    background-color: white;

}

p{

    line-height: 1.5rem;

    text-align: center;

}

img{

    border-radius: 8px;

}

footer{

    grid-area: footer;

    background-color: lightgray;

    padding: 20px;

    text-align: center;

    border-radius: 8px;

}