@charset "UTF-8";
*{

    font-family:sans-serif, serif, "メイリオ";

}

html{

    font-size:16px;

}

body{


    display:grid;


    grid-template-columns:1fr;


    gap:1em;


    grid-template-areas:

        "header"

        "main"

        "footer";


    background-color:#eeeeee;


}

header{


    grid-area:header;


    background-color:#444444;


    padding:20px;


    text-align:center;


    border-radius:8px;


}

h1{


    background-color:#222222;


    color:white;


    padding:15px;


    border-radius:8px;


}

nav{


    background-color:#dddddd;


    border:1px solid black;


    padding:10px;


    border-radius:8px;


}

main{


    grid-area:main;


}

section{


    background-color:#faf7f0;


    border:1px solid #555555;


    border-radius:8px;


    padding:20px;


    margin:20px;


}

h2{


    background-color:#777777;


    color:white;


    border:1px solid black;


    border-radius:8px;


    padding:10px;


    text-align:center;


}

dt{


    background-color:#8f9b8b;


    color:white;


    border:1px solid black;


    border-radius:8px;


    padding:10px;


    margin-top:20px;


}

dd{


    background-color:white;


    border:1px solid #555555;


    border-radius:8px;


    padding:15px;


    line-height:1.5rem;


}

iframe{


    border:2px solid black;


    border-radius:8px;


}

ul{


    list-style:circle;


    background-color:white;


    border:1px solid black;


    border-radius:8px;


    padding:20px;


}

a:hover{


    font-size:1.2em;


}

footer{


    grid-area:footer;


    background-color:#444444;


    color:white;


    padding:20px;


    text-align:center;


    border-radius:8px;


}